/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #176edb;
  --ifm-color-primary-dark: #1563c5;
  --ifm-color-primary-darker: #145dba;
  --ifm-color-primary-darkest: #104d99;
  --ifm-color-primary-light: #227ae8;
  --ifm-color-primary-lighter: #2d81e9;
  --ifm-color-primary-lightest: #4e94ec;
  --ifm-code-font-size: 95%;
}

main {
  padding-top: calc(var(--ifm-spacing-horizontal)*2);
}

main>div {
  padding-left: 5rem !important;
  padding-right: 5rem !important;
}

.badge {
  display: none;
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 24px 0px, rgba(0, 0, 0, 0.16) 0px 0px 0px 1px;
}

/*
 * Docs sidebar
 */

.menu {
  font-size: 0.85rem;
}

.menu>ul.menu__list>li.menu__list-item>div.menu__list-item-collapsible:hover {
  background: none;
}

.menu>ul.menu__list>li.menu__list-item>div.menu__list-item-collapsible>a.menu__link--sublist:first-child {
  cursor: default;
  margin-top: calc(var(--ifm-spacing-vertical) * 1.5);
  font-weight: bold;
  color: var(--custom-content-color-lightest);
  text-transform: uppercase;

  :hover {
    background: none !important;
  }
}

.menu .menu__link.menu__link--sublist::after {
  background: none;
}