name: Test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22, 24]

    env:
      SETTINGS_AWS_ACCESS_KEY_ID: ${{ secrets.SETTINGS_AWS_ACCESS_KEY_ID }}
      SETTINGS_AWS_SECRET_ACCESS_KEY: ${{ secrets.SETTINGS_AWS_SECRET_ACCESS_KEY }}
      SETTINGS_AWS_REGION: ${{ secrets.SETTINGS_AWS_REGION }}
      NODE_VERSION: ${{ matrix.node-version }}

    steps:
    - uses: actions/checkout@v5
    - name: Start up databases
      run: docker compose up -d
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
        cache-dependency-path: package-lock.json
    - name: Install project and package dependencies
      run: npm ci
    - name: Build packages
      run: npx lerna run build
    - name: Create CLI symlink in the global folder
      run: npm link
      working-directory: packages/cli
    - name: Check for the absence of "describe.only()" and "it.only()"
      run: if grep -Rl ".only(" ./packages/*/src ; then echo "Unexpected describe.only() or it.only() found.";  exit 1; else exit 0; fi
    - name: Check package linting
      run: npm run lint
    - name: Run end-to-end tests
      run: cd tests/e2e-tests && npm run test
    - name: Run documentation tests
      run: cd tests/docs-tests && npm run test
    - name: Run unit tests of demo-app
      run: cd examples/demo-app && npm run test
    - name: Run unit tests of @foal/aws-s3
      run: cd packages/aws-s3 && npm run test
    - name: Run unit tests of @foal/cli
      run: cd packages/cli && npm run test
    - name: Run unit tests of @foal/graphiql
      run: cd packages/graphiql && npm run test
    - name: Run unit tests of @foal/graphql
      run: cd packages/graphql && npm run test
    - name: Run unit tests of @foal/jwks-rsa
      run: cd packages/jwks-rsa && npm run test
    - name: Run unit tests of @foal/jwt
      run: cd packages/jwt && npm run test
    - name: Run unit tests of @foal/mongodb
      run: cd packages/mongodb && npm run test
    - name: Run unit tests of @foal/password
      run: cd packages/password && npm run test
    - name: Run unit tests of @foal/redis
      run: cd packages/redis && npm run test
    - name: Run unit tests of @foal/social
      run: cd packages/social && npm run test
    - name: Run unit tests of @foal/socket.io
      run: cd packages/socket.io && npm run test
    - name: Run unit tests of @foal/storage
      run: cd packages/storage && npm run test
    - name: Run unit tests of @foal/swagger
      run: cd packages/swagger && npm run test
    - name: Run unit tests of @foal/typeorm
      run: cd packages/typeorm && npm run test
    - name: Run unit tests of @foal/typestack
      run: cd packages/typestack && npm run test
    - name: Run unit tests of @foal/core
      run: cd packages/core && npm run test
    - name: Run E2E tests (Bash)
      run: ./e2e_test.sh