name: Test

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  setup:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22]
    steps:
    - uses: actions/checkout@v4
    - name: Start up databases
      run: docker compose up -d
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install project and package dependencies
      run: npm install
    - name: Upload workspace
      uses: actions/upload-artifact@v4
      with:
        name: workspace-${{ matrix.node-version }}
        path: .
        retention-days: 1

  build:
    needs: setup
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22]
    steps:
    - name: Download workspace
      uses: actions/download-artifact@v4
      with:
        name: workspace-${{ matrix.node-version }}
        path: .
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - name: Build packages
      run: npx lerna run build
    - name: Upload built workspace
      uses: actions/upload-artifact@v4
      with:
        name: built-workspace-${{ matrix.node-version }}
        path: .
        retention-days: 1

  lint-and-checks:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22]
    steps:
    - name: Download workspace
      uses: actions/download-artifact@v4
      with:
        name: built-workspace-${{ matrix.node-version }}
        path: .
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - name: Check for the absence of "describe.only()" and "it.only()"
      run: if grep -Rl ".only(" ./packages/*/src ; then echo "Unexpected describe.only() or it.only() found.";  exit 1; else exit 0; fi
    - name: Check package linting
      run: npm run lint

  unit-tests:
    needs: build
    runs-on: ubuntu-latest
    env:
      SETTINGS_AWS_ACCESS_KEY_ID: ${{ secrets.SETTINGS_AWS_ACCESS_KEY_ID }}
      SETTINGS_AWS_SECRET_ACCESS_KEY: ${{ secrets.SETTINGS_AWS_SECRET_ACCESS_KEY }}
      SETTINGS_AWS_REGION: ${{ secrets.SETTINGS_AWS_REGION }}
      NODE_VERSION: ${{ matrix.node-version }}
    strategy:
      matrix:
        node-version: [22]
        package: [acceptance-tests, aws-s3, cli, core, examples, graphiql, graphql, jwks-rsa, jwt, mongodb, password, redis, social, socket.io, storage, swagger, typeorm, typestack]
    steps:
    - name: Download workspace
      uses: actions/download-artifact@v4
      with:
        name: built-workspace-${{ matrix.node-version }}
        path: .
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - name: Run unit tests of @foal/${{ matrix.package }}
      run: cd packages/${{ matrix.package }} && npm run test

  e2e-tests:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22]
    steps:
    - name: Download workspace
      uses: actions/download-artifact@v4
      with:
        name: built-workspace-${{ matrix.node-version }}
        path: .
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v6
      with:
        node-version: ${{ matrix.node-version }}
    - name: Create CLI symlink in the global folder
      run: npm link
      working-directory: packages/cli
    - name: Run acceptance tests (Bash)
      run: ./e2e_test.sh
